.App-logo{
    width:30%;
    height:70%;
    


}
span{
    color:red;
    margin-right:15px;
}
a:not([href]):not([tabindex]){
    color:#fff;
}
.App-logo1{
    
    width:30%;
    height:70%;
    

}
.boton2{

    margin-top:10px;
}
.boton2 {
    color: #318aac !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #318aac;
    transition: all 1s ease;
    position: relative;
  }
  .boton2:hover {
    background: #318aac;
    color: #fff !important;
  }
.video{
    position:relative;
    top: 1px;
}
.imagen{

}

*{
    background:#343a40 ;
}

form{
    width:60%;
    align-items:center;
    margin-top:100px;
    position:relative;
    top:-20px;
}
.content{
    width:90%;
    height:100%;
    position: relative;
    top: 60px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, 
    rgba(252, 252, 252, 0.22) 0px -12px 30px, 
    rgba(248, 248, 248, 0.22) 0px 4px 6px, 
    rgba(0, 0, 0, 0.27) 0px 12px 13px, 
    rgba(0, 0, 0, 0.29) 0px -3px 5px;
 opacity:70%
 
}
h1{
    color:white;
}
h2{
    color:white;
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}


@media only screen
and (min-device-width: 320px)
and (max-device-width: 736px)
{
/* inserta aquí tu código */
    .container{
        width: 100%;
        height:100%;
    }
}


@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
